@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Josefin+Sans&family=Kanit&family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&family=Poppins&family=Quicksand&family=Raleway&family=Ubuntu&display=swap');

/*
font-family: 'Inconsolata', monospace;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
*/
/* --------------------------- Comandos generales --------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --backgroundcolor: #f185a9;
    --strongbackgroundcolor: #dd4f7e;
    --lettercolor: #F4F6F7;
}

*::selection {
    color: var(--lettercolor);
    background-color: var(--strongbackgroundcolor);
}

body {
    margin-top: 8vh;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: var(--backgroundcolor);
    font-weight: bold;
}

h2:Hover {
    text-decoration: underline;
}

html {
    scroll-padding-top: 11vh;
    scroll-behavior: smooth;
}




/* --------------------------------- Header --------------------------------- */
.header {
    min-height: 10vh;
    background-color: var(--backgroundcolor);
    z-index: 100;
    position: fixed;
    top: 0px;
    box-shadow: 0px 1px 7px var(--strongbackgroundcolor);
}

.header-logo {
    padding: 10px;
}

.header-nav {
    text-align: center;
}

.header-nav ul li a {
    display: inline-block;
    color: var(--backgroundcolor);
    min-width: 100px;
    padding: 2px 5px;
    margin: 5px;
    background-color: var(--lettercolor);
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    font-size: 1.08rem;
    font-weight: 700;
    transition: background 0.8s, color 1s;
}

.header-nav ul li a:hover {
    color: var(--lettercolor);
    background-color: var(--strongbackgroundcolor);
    outline: 2px solid var(--lettercolor);

}

.header img {
    height: 1.1rem;
}

.header-button {
    border: none;
}

.header-button:focus {
    border: none;
    outline: none;

}

.header-button i {
    color: var(--lettercolor);
    font-size: 1.5rem;
}

/* --------------------------------- Footer --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.footer {
    display: flex;
    padding: 0px 25px;
    min-height: 10vh;
    flex-direction: column;
    background-color: var(--backgroundcolor);
    justify-content: center;
    align-items: center;
}

.footer-copyright a {
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
    font-size: 1.3rem;
}

.footer .footer-reds {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
}

.footer .footer-reds a i {
    border-radius: 10px;
    font-size: 2rem;
    padding: 3px 15px;
    color: whitesmoke;
    transition: transform 0.6s, background 0.8s, color 1s;
}

.footer .footer-reds a i:hover {
    background-color: whitesmoke;
    color: palevioletred;
    transform: scale(1.1);
}

/* --------------------------------- banner --------------------------------- */
.banner {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/index/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: var(--strongbackgroundcolor);
    font-weight: bold;
    background-color: var(--lettercolor);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    max-width: 90%;
}

/* ------------------------------ Testimonials ------------------------------ */
.maps-cover {
    height: 300px;
    width: 100%;
}

#maps {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: grid;
    row-gap: 15px;
    align-items: center;
    justify-items: center;
    margin: 25px;
}

.testimonio {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: #E5E7E9;
}

.testimonio-encabezado h4 {
    font-size: 1.3em;
}

.testimonio-estrellas .star {
    color: var(--backgroundcolor);
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px var(--strongbackgroundcolor);
}

.testimonio-estrellas .star:hover {
    color: var(--strongbackgroundcolor);
    text-shadow: 1px 1px 2px var(--backgroundcolor);
}

/* --------------------------------- Famili --------------------------------- */
.image-three,
.image-four {
    display: none;
}

.famili {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 30px 20px;
}

.images img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition: transform 1s;
}

.images img:hover {
    box-shadow: 0px 0px 15px var(--strongbackgroundcolor);
    cursor: url(../img/Cursores/cursor.png), auto;
    transform: scale(1.05);
    z-index: 50;
}

.images {
    height: 300px;
    width: 100%;
}

.famili-images {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* ------------------------------ Page routines ----------------------------- */
.routines {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 90vh;
}

.routine-list {
    width: 100%;
    min-height: 250px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.routine-list a {
    font-size: 1.4rem;
    color: var(--backgroundcolor);
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.routine-list ol {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--lettercolor);
    list-style-position: inside;
    list-style: circle;
}

.routine-list ol li {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0px;
    font-size: 1.1rem;
}

.routine-list ol li:hover {
    font-weight: bold;
}

.routine-one {
    background-image: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)), url(../img/routines/hipertrofiahombre.jpg);
}

.routine-two {
    background-image: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)), url(../img/routines/hipertrofiamujer.jpg);
}

.routine-three {
    background-image: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)), url(../img/routines/fuerzadeportista.jpg);
}

.routine-four {
    background-image: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)), url(../img/routines/hipertrofia.jpg);
}

/* --------------------------------- Contact -------------------------------- */
.contact-main {
    min-height: 90vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/contact/fondo-contacto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-image {
    display: none;
}

.contact-form {
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(245, 245, 245, .4);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--strongbackgroundcolor);
    outline: 2px solid var(--backgroundcolor);
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
}

.contact-form input {
    width: 60%;
    max-width: 200px;
    outline: none;
    border: 1px solid var(--backgroundcolor);
    border-radius: 5px;
    font-size: 0.95rem;
    height: 30px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    transition: transform .3s;
}

.contact-form input:hover {
    transform: scale(1.05);
    outline: 1px solid var(--strongbackgroundcolor);
}

.contact-form #email {
    max-width: 350px;
}

.contact-form {
    max-width: 600px;
}

#msg {
    max-width: 90%;
    max-height: 200px;
    border: 1px solid var(--backgroundcolor);
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}

#msg::placeholder {
    font-size: 1.1rem;
}

#msg:focus {
    outline: 1px solid var(--strongbackgroundcolor);
}

.telephone {
    position: fixed;
    bottom: 12vh;
    right: 3px;
}

.telephone img {
    height: 70px;
    transition: transform .3s;
}

.telephone img:hover {
    transform: scale(1.05);
}

#submit {
    margin: auto;
    min-width: 150px;
    height: 30px;
    color: var(--strongbackgroundcolor);
    transition: .4s;
}

#submit:hover {
    transform: scale(1.05);
    background-color: var(--backgroundcolor);
    color: var(--lettercolor);

}

/* -------------------------------- Timetable ------------------------------- */
.schedules {
    display: flex;
    flex-wrap: wrap;
}

.schedules-section {
    width: 100%;
}

/* ------------------------------ Timetable NAV ----------------------------- */
.shedules-section-nav {
    padding: 20px 0px;
    background-color: #db688f;
    border-radius: 30px;
    display: none;
}

.shedules-section-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    gap: 15px;
    flex-wrap: wrap;
}

.shedules-section-nav ul li a {
    border-right: 1px solid rgba(255, 192, 203, 0.603);
    border-left: 1px solid rgba(255, 192, 203, 0.603);
    color: whitesmoke;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    border-radius: 5px;
    flex-direction: row;
}

.shedules-section-nav ul li a:hover {
    background-color: whitesmoke;
    color: palevioletred;
    font-weight: bold;
}

/* --------------------------- Horarios de los diferentes entrenamientos --------------------------- */
.section-training {
    padding: 20px 25px;
    width: 100%;
    background-color: #f5f5f5;
    transition: 0.4s;
}

.section-training:hover {
    background-color: #f1e3e5;
    border-top-right-radius: 40%;
}

.training-schedules {
    font-family: 'Ubuntu', sans-serif;
    margin: 10px 0px;
    width: 100%;
}

.training-schedules h3 {
    font-size: 1.35em;
    color: #f5f5f5;
    background-color: #d87093;
    display: inline-block;
    border-radius: 7px;
    padding: 3px 5px;
}

.training-schedules ul li {
    color: rgb(48, 47, 47);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2em;
    text-decoration: underline;
}

.schedules-hour {
    color: #d87093;
    text-decoration: underline;
    padding: 0px 5px;
    text-shadow: 0px 0px 5px #ffc0cb;
}

.schedules-hour:hover {
    color: whitesmoke;
    background-color: #d87093;
    border-radius: 5px;
}

/* ---------------------------------- News ---------------------------------- */

.section-news{
    display: none;
}

.sections-news-tablet{
    width: 100%;
    height: 80vh;
}
.news-items-tablet{
    background-color: var(--lettercolor);
}

.news-items-tablet {
    width: 100%;
    height: 500px;
    padding: 10px;
}

.news-items-tablet iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
    outline: 3px solid var(--backgroundcolor);
    outline-style: dashed;
}

.news-button-tablet span{
    background-color: rgba(0, 0, 0, .15);
    border-radius: 50%;
    padding: 2px;
}


/* --------------------------------- Tablets -------------------------------- */
@media screen and (min-width:600px) {
    .image-three {
        display: inline;
        grid-column: span 2;
    }

    .famili-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 15px;
    }

    .routines {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .routine-list a {
        font-size: 1.5rem;
    }

    .routine-list ol li {
        font-size: 1.2rem;
    }

    .shedules-section-nav {
        display: block;
    }

    .sections-news-tablet{
        display: none;
    }
    
    .section-news{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 20px 25px;
        background-color: var(--lettercolor);
        border-radius: 15px;
        min-height: 100vh;
    }
    .news-item{
        width: 100%;
    }
    .news-item-one{
        grid-row: span 3;
    }
    .news-item-one iframe{
        padding-top: 100px;
    }

    .news-item iframe{
        height: 100%;
        width: 100%;
        object-fit:cover;
        outline: 3px dashed var(--strongbackgroundcolor);
    }
}

/* -------------------------------- Computers ------------------------------- */
@media screen and (min-width:1024px) {
    .header {
        justify-content: space-around;
        padding: 0;
    }

    .famili-images {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .image-one {
        height: 100%;
        grid-column: span 1;
        grid-row: span 2;
    }

    .image-three {
        height: 100%;
        grid-column: span 1;
        grid-row: span 2;
    }

    .image-four {
        display: inline;
        grid-column: span 1;
    }

    .testimonials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 15px;
    }

    .testimonio {
        max-width: 75%;
    }

    .maps-cover {
        grid-row: span 3;
        height: 100%;
    }

    .routines {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .routine-list a {
        font-size: 1.7rem;
    }

    .routine-list ol {
        min-height: 70vh;
        padding: 10px;
        gap: 70px;
    }

    .routine-list ol li {
        font-size: 1.4rem;
    }

    .routine-list ol li:hover {
        font-weight: bold;
    }

    .contact-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: .2fr .5fr;
        gap: 20px;
    }

    .contact-main h2 {
        grid-column: span 2;
    }

    .contact-image {
        display: block;
        height: 80%;
        max-width: 700px;
        border: 2px solid var(--strongbackgroundcolor);
        border-radius: 15px;
        justify-self: center;
        align-self: center;
    }

    .contact-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    
}