/* ---------------------------------- Fonts --------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Josefin+Sans&family=Kanit&family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&family=Poppins&family=Quicksand&family=Raleway&family=Ubuntu&display=swap');
// Footer Fonts
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

/*
font-family: 'Inconsolata', monospace;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
*/
/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
//import
@import "html/general";
@import "html/header";
@import "html/footer";
@import "html/homepage";
@import "html/routines";
@import "html/contact";
@import "html/timetable";
@import "html/news";
@import "html/media";
