//Import
@import "../utilidades/variables";

/* --------------------------------- Footer --------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
.footer {
    @extend %flex-column;
    padding: 0px 25px;
    min-height: 10vh;
    background-color: $backgroundcolor;
    justify-content: center;
    align-items: center;
    .footer-copyright a {
        font-family: 'Kanit', sans-serif;
        color: $lettercolor;
        font-size: 1.3rem;
    }
    .footer-reds {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 30px;
        a i {
            border-radius: 10px;
            font-size: 2rem;
            padding: 3px 15px;
            color: $lettercolor;
            @include transitions-timer;
        }
        a i:hover {
            @include transitions-color($backgroundcolor, $lettercolor);
            transform: scale(1.1);
        }
    }
}
