//import
@import "../utilidades/variables";

/* ---------------------------------- News ---------------------------------- */

.section-news{
    display: none;
}
.news-main{
    background-color: $lettercolor;
}
.sections-news-tablet{
    width: 100%;
    height: 80vh;
    .news-list-tablet{
        .news-items-tablet{
            background-color: $lettercolor;
            width: 100%;
            height: 500px;
            padding: 10px;
            iframe {
                width: 100%;
                height: 100%;
                object-fit: cover;
                padding: 5px;
                outline: 3px solid $backgroundcolor;
                outline-style: dashed;
            }
        }
        .news-button-tablet{
            span{
                background-color: rgba(0, 0, 0, .15);
                border-radius: 50%;
                padding: 2px;
            }
        }
    }
}